.loading_section {
  width: 100%;
  height: 75vh;
  display: grid;
  place-items: center;
}

.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #e50914;
  border-color: #e50914 transparent #e50914 transparent;
  animation: load 1.2s infinite;
}


@keyframes load {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}