* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: aliceblue;
}

/* Button style................. */

.button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  z-index: 2;
  position: relative;
}

.button:hover {
  background: rgb(255, 248, 236);
  color: #000;
  box-shadow: 7px 8px 14px #068794;
}

/* Text......... */

.text_head {
  font-size: 4.5rem;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.text_center {
  text-align: center;
}

.contact_section {
  padding: 20px 0;
}

.contact_section h3 {
  font-size: 3rem;
  text-align: center;
  margin: 50px 0 20px 0;
}

.category select {
  font-size: 1.5rem;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
}

.map_container {
  margin-top: 20px;
  display: grid;
  place-items: center;
}

.map {
  width: 80%;
}


/* media queries... */
@media (max-width:1200px) {

  .text_head {
    font-size: 4rem;
  }
}


@media (max-width:992px) {

  .text_head {
    font-size: 3rem;
  }
}


@media (max-width:768px) {
  .navbar li {
    margin-right: 5px;
  }
}


@media (max-width:576px) {
  .text_head {
    font-size: 2rem;
  }

  .contact_section {
    padding: 10px 0;
  }

  .contact_section h3 {
    font-size: 2rem;
  }
}